@{
    // Check if user log-in is authenticated, if not redirect to the Log-in page
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect(@Href("~/Account/Login?returnUrl="+Request.Url.LocalPath));
    }
    Layout = "~/_SiteLayout.cshtml";

    <!-- WORK WITH DATA -->
    var db = Database.Open("StarterSite");
    var userId = UrlData[0];

    var selectQueryString = "SELECT * FROM UserProfile WHERE UserId=@0";
    var row = db.QuerySingle(selectQueryString, userId);

    var username = row.UserName;
    var email = row.Email;
    var memberSince = row.MemberSince;
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Edit Profile</title>
    </head>
    <body>
        <nav>
            <ul id="menu">
                <li><a href="~/Account/MyProfile">About Me</a></li>
                <li><a href="~/Account/EditProfile">Edit Profile</a></li>
            </ul>
        </nav>

        <!-- DISPLAY PROFILE INFO IN TABULAR FORM -->
        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Member Since</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="@Href("~/Account/UpdateProfile",@userId)">Edit/Update Profile</a></td>
                    <td>@username</td>
                    <td>@email</td>
                    <td>@memberSince</td>
                </tr>
            }
            </tbody>
        </table>
    </body>
</html>
