@{
    // Check if user log-in is authenticated, if not redirect to the Log-in page
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect(@Href("~/Account/Login?returnUrl="+Request.Url.LocalPath));
    }
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "My Profile";

    <!-- WORK WITH DATA -->
    var db = Database.Open("StarterSite"); 
    var name = ""; 

    var selectUserName = "SELECT UserName FROM UserProfile WHERE IsLoggedIn=1";
    foreach(var getUser in db.Query(selectUserName)) {
        name = getUser.UserName; 
    }

    var selectQueryString = "SELECT * FROM UserProfile WHERE UserName=@0";
    var row = db.QuerySingle(selectQueryString,name);

    var username = row.UserName;
    var email = row.Email;
    var memberSince = row.MemberSince;
    var imagePath = Request.ApplicationPath + row.ProfilePicture;
    
 }

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
    </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content"> 
                    <h1>My Profile</h1>
                    <h3>@username</h3>
                    <div>
                        <img src="@imagePath" alt="@username" class="dp">
                    </div>
                    <br><a href="@Href("~/Account/UpdateProfile",name)">Edit/Update Profile</a>
                    <hr> 
                    <!-- DISPLAY PROFILE INFO IN TABULAR FORM -->
                    <div class="table-info">
                        <table>
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Member Since</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>@username</td>
                                        <td>@email</td>
                                        <td>@memberSince</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                 </div>
              </div>
           </div>
       </div>
   </body>
</html>
