@{
    // Check if user log-in is authenticated, if not redirect to the Log-in page
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect(@Href("~/Account/Login?returnUrl="+Request.Url.LocalPath));
    }
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "My Profile";

    <!-- WORK WITH DATA -->
    var db = Database.Open("StarterSite"); 
    //var name = ""; 
    var id = 0;
     

    var selectUser = "SELECT UserId FROM UserProfile WHERE IsLoggedIn=1";  
    foreach(var getUser in db.Query(selectUser)) {
        id = getUser.UserId;
    }
     

    var selectQueryString = "SELECT * FROM UserProfile WHERE UserId=@0";
    var row = db.QuerySingle(selectQueryString,id);

    var userid = row.UserId;
    var username = row.UserName;
    var email = row.Email;
    var memberSince = row.MemberSince;
    var imagePath = Request.ApplicationPath + row.ProfilePicture;    
 }


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
    </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content"> 
                    <h1>My Profile</h1>
                    <h3>@username</h3>
                    <div>
                        <img src="@imagePath" alt="@username" class="dp">
                    </div>
                    <br><p><a class="btn btn-info" href="@Href("~/Account/UpdateProfile",id)">Edit/Update Profile</a></p>
                    <p>
                        <a class="btn btn-info" href="~/Account/Manage">Click here to change your password</a>
                    </p>
                    <hr>  
                    <div class="container">
                        <div class="list-group">
                            <li class="list-group-item">Username: @username</li>
                            <li class="list-group-item">Email: @email</li>
                            <li class="list-group-item">Member since: @memberSince</li>
                        </div>
                    </div><div class="col-md-9">
                        
                    </div>
                 </div>
              </div>
           </div>
       </div>
   </body>
</html>
