@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect(@Href("~/Account/Login?returnUrl="+Request.Url.LocalPath));
    }
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "Update Profile";
    

    // UPLOAD IMAGE
     WebImage photo = null;
     var newFileName = "";
     var imagePath = "";

     if (IsPost) {
         photo = WebImage.GetImageFromRequest();
         if (photo != null) {
             newFileName =  Path.GetFileName(photo.FileName);
             imagePath = "Images/" + newFileName;
             photo.Save("~/" + imagePath);
         }
     }

    <!-- WORK WITH DATA -->
    var db = Database.Open("StarterSite"); 
    var id = UrlData[0];


    if(id.IsEmpty()) {
        Response.Redirect(@Href("~/Account/MyProfile"));
    }


        var userid = 0;
        var username = "";
        var currentImage = "";
        var checkLog = false;

    var selectQueryString = "SELECT * FROM UserProfile WHERE UserId=@0";
    var row = db.QuerySingle(selectQueryString,id);
    
    if (row == null) {
        Response.Redirect(@Href("~/Error/NotFound"));
    }
    else {
         userid = row.UserId;
         username = row.UserName;
         currentImage = Request.ApplicationPath + row.ProfilePicture;
         checkLog = row.IsLoggedIn;   
        
        // Redirect to the error page if the user tries to access others account
        if (checkLog == false) {
            Response.Redirect(@Href("~/Error/Forbidden"));
        }

        if (IsPost) {
           username = Request["username"];
           if (String.IsNullOrEmpty(username)) {
               ModelState.AddError("username","Username name is required");
           }
        
          var image = imagePath;
           if (ModelState.IsValid) {
               var updateQueryString = "UPDATE UserProfile SET UserName=@0, ProfilePicture=@1 WHERE UserId=@2";
               db.Execute(updateQueryString, username, imagePath, id);
               Response.Redirect(@Href("~/Account/MyProfile.cshtml"));
           } 
        } 
    }


    
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
    </head>
   <body>
     <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 center">
                <div class="content"> 
                    <h1>Update Profile</h1>
                    <h3>@username</h3>
                    <div>
                        <img src="@currentImage" alt="@username" class="dp">
                    </div>
                    <hr>
                    <div class="update-form">
                        <form method="POST" action="" enctype="multipart/form-data">
                            <fieldset>
                                <div class="field">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" value="@username">
                                </div>
                                <div class="field">
                                    <label for="profilePicture">Profile Picture</label>
                                    <input type="file" name="profilePicture" >
                                </div> 
                                <div class="field">
                                    <input class="btn btn-info" type="submit" value="Update Profile">
                                    <a class="btn btn-warning" href="@Href("~/Account/MyProfile",id)">Cancel</a>
                                </div> 
                                
                            </fieldset>
                        </form>
                    </div>
                 </div>
              </div>
           </div>
       </div>
    </body>
</html>
